<%- include("partials/mainHeader"); -%>

<div class="main-content">
    <hr>
    <h1 class="admin">Admin Portal</h1>
    <hr>
    <div class="bg">
        Compose a Blog
        <a href="/compose" method="get">Click Here to Compose Section</a>
    </div>
    <hr>
    <div class="user-info">
        <h2>New Inquiries</h2>
        <form action="/delete" method="post"> <!-- Form for deletion -->
            <table border="1">
                <tr>
                    <th></th>
                    <th class="cl-name">Name</th>
                    <th class="cl-name">Email</th>
                    <th class="cl-name">Phone</th>
                    <th class="cl-name">Comments</th>
                    <th>Delete</th>
                </tr>
                <% users.forEach(user => { %>
                    <tr>
                        <td><input type="checkbox" name="deleteUser" value="<%= user._id %>"></td>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.phone %></td>
                        <td><%= user.comments %></td>
                        <td><a href="/delete/<%= user._id %>">Delete</a></td>
                    </tr>
                <% }); %>
            </table>
            <button type="submit" class="delete-button">Delete Selected</button>
        </form>
    </div>
</div>

<%- include("partials/mainFooter"); -%>
